
 html, body {
  font-family: Sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;

   }
*, *::before, *::after {
    box-sizing: inherit;
}

/*Barre de navigation */
nav {
    position: fixed;
    width: 100%;
    background-color: #2596be;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    z-index: 1;
}

.brand-title {
    margin: 8px;

}


.nav-links {
    list-style: none;
    display: flex;
    margin-top: 25px;
}

.nav-item a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}


.nav-item:hover a{
    color: orange;
}

.nav-item:active{
border-radius: 6px;
background-color: white;
    color: #2596be;
}

.button-nav {
text-decoration: none;
background-color: orange;
color: white;
font-weight: bold;
border-radius : 6px;
padding: 10px 30px
}

.button-nav-chercher {
border-radius: 6px;
text-decoration: none;
background-color: white;
color: orange;
font-weight: bold;
padding: 10px 30px;
margin-right: 10px;
}

.button-nav:hover {
background-color: white;
color: orange;
}

.button-nav-chercher:hover {
background-color: orange;
color: white;
}

.toggle-button {
    position: absolute;
    top: 30px;
    right: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 1000px){


    .navbar {
        flex-direction: column;
        align-items: flex-start;
        display: block;
        width: 100%;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
       
    }


    .nav-links {
        width: 100%;
        flex-direction: column;
    }

    .nav-links a {
        width: 100%;
        background-color: #2596be;
        padding-top: 10px;
        padding-left: 5px;
        font-weight: normal;
        color: white;
        margin-bottom: 10px;
    }

    .nav-links a:hover {
        color: orange;
        background-color: white;
        font-weight: bold;
        border-radius : 0px;
        margin-left: 0px;
    }

    .toggle-button:hover .bar{
        
        background-color: Orange;
    }

    .navbar-links.active {
        display: flex;
    }


    }

    body {
        display: flex;
        flex-direction: column;
    }

    .Connexion-Email {

        align-items: center;
    }

/* formulaire */
.Connexion_form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
}


.Connexion_form_Title {
flex: 1;
font-size: 36px;
color: #666666;
margin-top: 150px;
width: 80%;
text-align: center;

}

.Connexion_form_subtitle {
flex: 1;
font-size: 22px;
color: #666666;
margin-top: -10px ;
width: 80%;
text-align: center;

}



.email {
margin-top: 50px;
padding: 18px 126px;
border-radius: 6px;
border-width: 1px;
font-size: 16px;
color: #666666;
    text-align: center;
    margin-bottom: 10px;
    width: 40%;
    background-color: #FFFAF0;

}

.email:focus {
    background-color: white;
    }

.password {
padding: 18px 126px;
border-radius: 6px;
border-width: 1px;
font-size: 16px;
color: #666666;
text-align: center;
width: 40%;
background-color: #FFFAF0;
}

.password:focus {
    background-color: white;
    }

.connexion-button {
padding: 18px 170px;
border-radius: 6px;
border-width: 1px;
font-size: 18px;
background-color: orange;
color: white;
margin-top: 50px;
border-color: orange;
width: 40%;

}

.connexion-button:hover {
background-color: #2596be;
border-color: #2596be;
cursor: pointer;

}

.connexion-button:active {
    transform: scale(0.98);
    }


.Forgot-password {
text-decoration: none;
color: #2596be;
margin-top: 20px;
width: 40%;

}

.Forgot-password:hover{
text-decoration: underline;
}

.entier-line {
border-top: 1px solid #bbb;
width: 40%;
margin-top: 20px;
width: 40%;

}


.Title-bas-de-page {
font-size: 36px;
color: #666666;
margin-top: 20px;
text-align: center;
width: 40%;

}

.link-connexion {
text-decoration: none;
color: #2596be;
}

.link-connexion:hover{
text-decoration: underline;
}


/*Footer */
.footer {
position: absolute;
bottom: -350px;
width: 100%;
background-color: #2596be;
color: white;
text-align: center;
}


@media (max-width: 800px) {

    
    .Connexion_form_Title {
        width: 80%;
    font-size: 30px;
    text-align: center;
    }


    
    .line {
    width: 80%
    }
    

    
    .email {
        font-size: 16px;
        width: 80%;
        padding: 14px 50px;
        text-align: center;
    }
    
    .password {
        font-size: 16px;
        width: 80%;
        padding: 14px 50px;
        text-align: center;
    }
    
    .connexion-button {
        font-size: 16px;
        width: 80%;
        padding: 14px 50px;
        text-align: center;
    }
    
   
    .entier-line {
    width: 60%;
    }
    
    .Title-bas-de-page {
    font-size: 30px;
    color: #666666;
    margin-top: 20px;
    width: 80%;

    }
    
    
    
    /*Footer */
    .footer {
    font-size: 12px;
    }
    
}