
 html, body {
  font-family: Sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }
*, *::before, *::after {
    box-sizing: inherit;
}

/*Barre de navigation */
nav {
    position: fixed;
    width: 100%;
    background-color: #2596be;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    z-index: 1;
}

.brand-title {
    margin: 8px;

}


.nav-links {
    list-style: none;
    display: flex;
    margin-top: 25px;
}

.nav-item a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}


.nav-item:hover a{
    color: orange;
}

.nav-item:active{
border-radius: 6px;
background-color: white;
    color: #2596be;
}

.button-nav {
text-decoration: none;
background-color: orange;
color: white;
font-weight: bold;
border-radius : 6px;
padding: 10px 30px
}

.button-nav-chercher {
border-radius: 6px;
text-decoration: none;
background-color: white;
color: orange;
font-weight: bold;
padding: 10px 30px;
margin-right: 10px;
}

.button-nav:hover {
background-color: white;
color: orange;
}

.button-nav-chercher:hover {
background-color: orange;
color: white;
}

.toggle-button {
    position: absolute;
    top: 30px;
    right: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 1000px){


    .navbar {
        flex-direction: column;
        align-items: flex-start;
        display: block;
        width: 100%;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
       
    }


    .nav-links {
        width: 100%;
        flex-direction: column;
    }

    .nav-links a {
        width: 100%;
        background-color: #2596be;
        padding-top: 10px;
        padding-left: 5px;
        font-weight: normal;
        color: white;
        margin-bottom: 10px;
    }

    .nav-links a:hover {
        color: orange;
        background-color: white;
        font-weight: bold;
        border-radius : 0px;
        margin-left: 0px;
    }

    .toggle-button:hover .bar{
        
        background-color: Orange;
    }

    .navbar-links.active {
        display: flex;
    }


    }

.Title {
position: absolute;
color: #666666;
font-size: 36px;
margin-top: 130px;
width: 80%;
left: 10%;
}

.container {
position: absolute;
display: flex;
flex-direction: column;
margin-top: 200px;
color: #666666;
width: 100%;
}

#text-reason{
    position: absolute;
    color: #666666;
    width: 80%;
    font-size: 16px;
    left: 10%;
}

#reason {
width: 80%;
left: 10%;
padding: 10px;
position: absolute;
margin-top: 30px;
font-size: 16px;
line-height: 10px;
max-width: 80%;
border-radius: 6px;
}

#text-who {
    position: absolute;
    color: #666666;
    width: 80%;
    font-size: 16px;
    margin-top: 110px;
    left: 10%;
    }
    
    #who {
    position: absolute;
    width: 80%;
    left: 10%;
    padding: 10px;
    margin-top: 140px;
    font-size: 16px;
    border-radius: 6px;
    }

    
#text-checkbox {
position: absolute;
margin-top: 220px;
width: 80%;
left: 13%;
}

#checkbox-email {
position: absolute;
margin-top: 220px;
left: 10%;
}

input#checkbox-email {
width: 17px;
height: 17px;
}


#text-description {
position: absolute;
margin-top: 280px;
width: 80%;
left: 10%;
}

#textbox {
position: absolute;
margin-top: 30px;
border-radius: 6px;
height: 100px;
max-height: 130px;
min-height: 50px;
width: 100%;
max-width: 100%;
max-width: 100%;
left: 0%;
}


#nameText {
position: absolute;
margin-top: 460px;
width: 80%;
left: 10%;
}

#nameBox {
    border-color: #666666;
    border-width: 1px;
    position: absolute;
    width: 80%;
    left: 10%;
    padding: 10px;
    margin-top: 490px;
    font-size: 16px;
    border-radius: 6px;
}

#email-q{
    position: absolute;
    margin-top: 580px;
    width: 80%;
    left: 10%;  
    }

#email {
    border-color: #666666;
    border-width: 1px;
    position: absolute;
    width: 80%;
    left: 10%;
    padding: 10px;
    margin-top: 610px;
    font-size: 16px;
    border-radius: 6px;
}



#phonNumberText {
position: absolute;
margin-top: 700px;
width: 80%;
left: 10%; 
}

#phoneNumber {
    border-color: #666666;
    border-width: 1px;
    position: absolute;
    width: 80%;
    left: 10%;
    padding: 10px;
    margin-top: 730px;
    font-size: 16px;
    border-radius: 6px;
}

#SubmitButton {
    position: absolute;
    width: 80%;
    left: 10%;
    padding: 10px;
    margin-top: 840px;
    font-size: 16px;
    border-radius: 6px;
    background-color: orange;
    border-color: orange;
    color: white;
}

#SubmitButton:hover {
background-color: #2596be;
border-color: #2596be;
}

/*Footer */
.footer {
position: absolute;
bottom: -640px;
width: 100%;
background-color: #2596be;
color: white;
text-align: center;
}

@media (max-width: 1000px) {
    
    #text-checkbox {
        left: 16%;
        }

        .footer {
            font-size: 12px;
            }

}