
 html, body {
  font-family: Sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }
*, *::before, *::after {
    box-sizing: inherit;
}

/*Barre de navigation */
nav {
    position: fixed;
    width: 100%;
    background-color: #2596be;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    z-index: 1;
}

.brand-title {
    margin: 8px;

}


.nav-links {
    list-style: none;
    display: flex;
    margin-top: 25px;
}

.nav-item a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}


.nav-item:hover a{
    color: orange;
}

.nav-item:active{
border-radius: 6px;
background-color: white;
    color: #2596be;
}

.button-nav {
text-decoration: none;
background-color: orange;
color: white;
font-weight: bold;
border-radius : 6px;
padding: 10px 30px
}

.button-nav-chercher {
border-radius: 6px;
text-decoration: none;
background-color: white;
color: orange;
font-weight: bold;
padding: 10px 30px;
margin-right: 10px;
}

.button-nav:hover {
background-color: white;
color: orange;
}

.button-nav-chercher:hover {
background-color: orange;
color: white;
}

.toggle-button {
    position: absolute;
    top: 30px;
    right: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 1000px){


    .navbar {
        flex-direction: column;
        align-items: flex-start;
        display: block;
        width: 100%;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
       
    }


    .nav-links {
        width: 100%;
        flex-direction: column;
    }

    .nav-links a {
        width: 100%;
        background-color: #2596be;
        padding-top: 10px;
        padding-left: 5px;
        font-weight: normal;
        color: white;
        margin-bottom: 10px;
    }

    .nav-links a:hover {
        color: orange;
        background-color: white;
        font-weight: bold;
        border-radius : 0px;
        margin-left: 0px;
    }

    .toggle-button:hover .bar{
        
        background-color: Orange;
    }

    .navbar-links.active {
        display: flex;
    }


    }

/* formulaire */
.inscription_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.inscription_form_Title {
flex: 1;
font-size: 36px;
color: #666666;
margin-top: 150px;
}

.inscription_form_subtitle {
flex: 1;
font-size: 22px;
color: #666666;
margin-top: -10px ;
}

.links-inscriptions{
display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #666666;
}




#fName {
    margin-top: 20px;
    padding: 18px 126px;
    border-radius: 6px;
    border-width: 1px;
    font-size: 16px;
    color: #666666;
        text-align: center;
        margin-bottom: 10px;
        width: 40%;
}

#lName {
    margin-top: 0px;
    padding: 18px 126px;
    border-radius: 6px;
    border-width: 1px;
    font-size: 16px;
    color: #666666;
        text-align: center;
        margin-bottom: 10px;
        width: 40%;
}

.email {
    margin-top: 0px;
    padding: 18px 126px;
    border-radius: 6px;
    border-width: 1px;
    font-size: 16px;
    color: #666666;
        text-align: center;
        margin-bottom: 10px;
        width: 40%;
    }
    
    .password {
    padding: 18px 126px;
    border-radius: 6px;
    border-width: 1px;
    font-size: 16px;
    color: #666666;
    text-align: center;
    width: 40%;
    }
    
    .connexion-button {
    padding: 18px 170px;
    border-radius: 6px;
    border-width: 1px;
    font-size: 18px;
    background-color: orange;
    color: white;
    margin-top: 10px;
    border-color: orange;
    width: 40%;
    }
    
    .connexion-button:hover {
    background-color: #2596be;
    border-color: #2596be;
    }

.entier-line {
border-top: 1px solid #bbb;
width: 40%;
margin-top: 50px;
}

.avez-vous-un-compte {
font-size: 36px;
text-align: center;
}

.link-connectez-vous{
margin-top: -10px;
text-decoration: none;
color: #2596be;
text-align: center;
}


/*Footer */
.footer {
position: absolute;
bottom: -250px;
width: 100%;
background-color: #2596be;
color: white;
text-align: center;
}


@media (max-width: 800px) {
 
    .inscription_form_Title {
    font-size: 30px;
    }
    

    .avez-vous-un-compte {
    font-size: 30px;
    }
        
        #fName {
                width: 60%;
        }
        
        #lName {
                width: 60%;
        }
        
        .email {
                width: 60%;
            }
            
            .password {
            width: 60%;
            }
            
            .connexion-button {
            width: 60%;
            }
            
        
        .entier-line {
        width: 60%;
        }
        
        .avez-vous-un-compte {
        font-size: 30px;
        }

        
        
    
   
    
    
    /*Footer */
    .footer {
        font-size: 12px;

}
}


@media (min-width: 300px) and (max-width: 500px) {

    .inscription_form_Title {
        font-size: 30px;

        }

    .avez-vous-un-compte {
        font-size: 30px;
        }
        
        #fName {
                width: 80%;
        }
        
        #lName {
                width: 80%;
        }
        
        .email {
                width: 80%;
            }
            
            .password {
            width: 80%;
            }
            
            .connexion-button {
            width: 80%;
            }
            
        
        .entier-line {
        width: 80%;
        }
        
        .avez-vous-un-compte {
        font-size: 30px;
        }
    
}