
 
 
 
 html, body {
    font-family: Sans-serif;
       box-sizing: border-box;
       /*background-color: #FFFAF0;*/
       background-color: white;

     }
  *, *::before, *::after {
      box-sizing: inherit;
  }
  
  
  .navbar {
    width: 100%;
    left: 0px;
    right: 0px;
    top: 0px;

  }
  nav {
      position: fixed;
      background-color: #2596be;
      padding-left: 30px;
      padding-right: 30px;
      display: flex;
      justify-content: space-between;
      align-items: left;
      z-index: 1;
  }
  
  .brand-title {
      margin: 8px;
  
  }
  
  
  .nav-links {
      list-style: none;
      display: flex;
      margin-top: 25px;
  }
  
  .nav-item a {
      display: inline-block;
      padding: 10px 20px;
      text-decoration: none;
      color: white;
  }
  
  
  .nav-item:hover a{
      color: orange;
  }
  
  .nav-item:active{
  border-radius: 6px;
  background-color: white;
      color: #2596be;
  }
  
  .button-nav {
  text-decoration: none;
  background-color: orange;
  color: white;
  font-weight: bold;
  border-radius : 6px;
  padding: 10px 30px
  }
  
  .button-nav-chercher {
  border-radius: 6px;
  text-decoration: none;
  background-color: white;
  color: orange;
  font-weight: bold;
  padding: 10px 30px;
  margin-right: 10px;
  }
  
  .button-nav:hover {
  background-color: white;
  color: orange;
  }
  
  .button-nav-chercher:hover {
  background-color: orange;
  color: white;
  }
  
  .toggle-button {
      position: absolute;
      top: 30px;
      right: 30px;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 21px;
  }
  
  .toggle-button .bar {
      height: 3px;
      width: 100%;
      background-color: white;
      border-radius: 10px;
  }
  



  @media (max-width: 1000px){
  
      .navbar {
        flex-direction: column;
        align-items: flex-start;
        display: block;
        width: 100%;
    }
  
      .toggle-button {
          display: flex;
      }
  
      .navbar-links {
          display: none;
          width: 100%;
         
      }
  
  
      .nav-links {
          width: 100%;
          flex-direction: column;
      }
  
      .nav-links a {
          width: 100%;
          background-color: #2596be;
          padding-top: 10px;
          padding-left: 5px;
          font-weight: normal;
          color: white;
          margin-bottom: 10px;
      }
  
      .nav-links a:hover {
          color: orange;
          background-color: white;
          font-weight: bold;
          border-radius : 0px;
          margin-left: 0px;
      }
  
      .toggle-button:hover .bar{
          
          background-color: Orange;
      }
  
      .navbar-links.active {
          display: flex;
      }


      .footer {
        font-size: 12px;
        }
      }

      #title {
        font-size: 48px;
        color: #666666;
        top: 80px;
        text-align: center;
        position: relative;
      }

      #containerAnnonce{
        padding-top: 80px;
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-flow: wrap;

        margin-bottom: 80px;
      }

      #containerAnnonce div {
        padding: 30px;
        margin-top: 30px;
        background-color: white;
        width: 30%;
        height: 330px;
        border-radius: 6px;
        transition: transform .2s;
        color: #666666;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);


      }

      #containerAnnonce div:hover{
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }



      .imageAnnonce{
        width: 60px;
        max-width: 60px;
        max-height: 60px;
        min-height: 60px;
        min-width: 60px;
      }

      
        /*Footer */
.footer {
    position: absolute;
    margin-top: auto;    
    width: 100%;
    background-color: #2596be;
    color: white;
    text-align: center;
    left: 0px;

    }


    @media screen and (max-width: 1350px) {

        #containerAnnonce div {
            width: 30%;
          }

    }

    @media screen and (max-width: 1200px) {

        #containerAnnonce div {
            width: 45%;
          }

          #title {
            font-size: 40px;
          }
    }

    @media screen and (max-width: 800px) {

        #title {
            padding-top: 30px;
            font-size: 30px;
            width: 90%;
            left: 5%;
          }

        #containerAnnonce div {
            width: 80%;
          }

    }
